body{
    padding: 0 2%;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100vh;
}

// mixin started from here

@mixin btn {
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    transition: all 0.7s;
    &:hover{
        background-color: #038998;
    }

}

.home_page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    column-gap: 1rem;

}

.sec1{

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5rem;

        h1{
            cursor: pointer;
        }
        
        .nav_sec{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            button{
                @include btn();
            }

            li{
                font-size: 1.1rem;
                cursor: pointer;
                list-style: none;
                transition: all 0.4s;
                &:hover{
                    color: #038998;
                }
            }
        }
    }
}

.Hero_txt{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .Hero_txt_sec1{
        height: 50%;

        h1{
            font-size: 2.8rem;
        }

        .hero_div_2{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: -2.5rem;
            p{
                width: 24%;
            }
        }

        .hero_div_3{
            margin-top: -2.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            button{
                @include btn();
                height: 2.2rem;
            }
        }
    }
}

.Hero_txt_sec2{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // gap: 5rem;
    height: 45vh;

    .get_btn{
        display: flex;
        align-items: center;
        gap: 1rem;
        .icon{
            display: flex;
        align-items: center;
        justify-content: center;
            height: 2.7rem;
                width: 2.7rem;
                background-color: #038998;
                border-radius:50%;
                cursor: pointer;
            img{

                height: 2rem;
                width: 2rem;
            }
        }
    }
    .btn1{
        @include btn();
        height: 2.7rem;
    }

    .img{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        // justify-content: space-between;
        img{
            height: 10rem;
            width: 10rem;
            border-radius: 0.5rem;
        }

        .btn_group{
            display: flex;
            flex-direction: column;
            transform: rotate(270deg);
            gap: 1rem;
            button{
                @include btn();
                font-weight: 550;
                height: 2.8rem;

            }
        }
    }
}

// sec2

.sec2{
    background-image: url("/public/pics/fashion-little-boy.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
}