body {
  padding: 0 2%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
}

.home_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.sec1 .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.sec1 .nav h1 {
  cursor: pointer;
}
.sec1 .nav .nav_sec {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sec1 .nav .nav_sec button {
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  transition: all 0.7s;
}
.sec1 .nav .nav_sec button:hover {
  background-color: #038998;
}
.sec1 .nav .nav_sec li {
  font-size: 1.1rem;
  cursor: pointer;
  list-style: none;
  transition: all 0.4s;
}
.sec1 .nav .nav_sec li:hover {
  color: #038998;
}

.Hero_txt {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Hero_txt .Hero_txt_sec1 {
  height: 50%;
}
.Hero_txt .Hero_txt_sec1 h1 {
  font-size: 2.8rem;
}
.Hero_txt .Hero_txt_sec1 .hero_div_2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: -2.5rem;
}
.Hero_txt .Hero_txt_sec1 .hero_div_2 p {
  width: 24%;
}
.Hero_txt .Hero_txt_sec1 .hero_div_3 {
  margin-top: -2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Hero_txt .Hero_txt_sec1 .hero_div_3 button {
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  transition: all 0.7s;
  height: 2.2rem;
}
.Hero_txt .Hero_txt_sec1 .hero_div_3 button:hover {
  background-color: #038998;
}

.Hero_txt_sec2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 45vh;
}
.Hero_txt_sec2 .get_btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Hero_txt_sec2 .get_btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7rem;
  width: 2.7rem;
  background-color: #038998;
  border-radius: 50%;
  cursor: pointer;
}
.Hero_txt_sec2 .get_btn .icon img {
  height: 2rem;
  width: 2rem;
}
.Hero_txt_sec2 .btn1 {
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  transition: all 0.7s;
  height: 2.7rem;
}
.Hero_txt_sec2 .btn1:hover {
  background-color: #038998;
}
.Hero_txt_sec2 .img {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.Hero_txt_sec2 .img img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
}
.Hero_txt_sec2 .img .btn_group {
  display: flex;
  flex-direction: column;
  transform: rotate(270deg);
  gap: 1rem;
}
.Hero_txt_sec2 .img .btn_group button {
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  transition: all 0.7s;
  font-weight: 550;
  height: 2.8rem;
}
.Hero_txt_sec2 .img .btn_group button:hover {
  background-color: #038998;
}

.sec2 {
  background-image: url("/public/pics/fashion-little-boy.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}/*# sourceMappingURL=app.css.map */